@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  vertical-align: baseline;
  color: #ffffff;
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(193, 193, 195, 0.5), rgba(189, 189, 190, 0.5)), url("../images/bg.jpg");
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  font-size: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 21.4px;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {

  body {
    font-size: 1.125em;
  }

}

@media screen and (max-width: 1280px) {

  body {
    font-size: 1em;
  }

}

@media screen and (max-width: 980px) {

  body {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 736px) {

  body {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 480px) {

  body {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 480px) {

  html,
  body {
    min-width: 320px;
  }

}

/* TYPE */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

ol,
ul {
  list-style: none;
}

.header {
  padding: 1em;
  width: 100%;
}

/*menu*/

.menu {
  position: relative;
  overflow: hidden;
  padding: 1em;
  margin: 0 auto;
  max-width: 60%;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.2);
}

.menu::after {
  display: block;
  content: "";
  clear: both;
}

.menu__logo {
  display: inline-block;
}

.menu__list {
  float: right;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  position: relative;
  display: block;
  margin: 0.2em 0;
  padding: 0 0.5em;
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

.menu__list a::before,
.menu__list a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s ease-in-out, left 0.5s ease-in-out;
  content: "";
}

.menu__list a:hover::before {
  width: 50%;
  left: 0;
}

.menu__list a:hover::after {
  width: 50%;
}

.menu__link:active {
  text-decoration: overline;
  transition: 0ms;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background:rgba(86, 86, 88, 0.8);
}

/* Adaptive menu*/

@media (max-width: 660px) {
  .menu__list {
    float: none;
    padding-top: 0.5em;
  }

  .menu {
    padding: 1.1em 0 0 0;
    text-align: center;
    font-size: 0.7em;
  }

  .menu__link {
    padding: 0 0.5em;
  }
}

@media (max-width: 600px) {
  .menu__item {
    display: block;
  }

}

@media screen and (max-width: 480px) and (max-width: 736px) and (max-width: 980px) {

  .menu__list a:hover::before,
  .menu__list a:hover::after {
    display: none;
  }

  .menu__list a:hover {
    background-color: rgb(98, 95, 95);
  }
}

.fullscreen__bg {
  position: relative;
  z-index: 3;
  padding-top: 45%;
  overflow: hidden;
  height: auto;
  width: 100%;
}

.fullscreen__bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.overlay h1 {
  position: relative;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  font-size: 8vw;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content h2 {
  text-align: center;
  font-size: 30px;
}

.content p {
  text-align: justify;
  font-size: 20px;
}

@media (max-width: 767px) {
  .fullscreen__bg {
    background: url('../images/main__donut.jpg') center center / cover no-repeat;
  }

  .fullscreen__bg__video {
    display: none;
  }
}