.cards {
  font-size: 1rem;
}

.cards__row {
  position: relative;
  display: flex;
  margin-top: 2em;
  margin-bottom: 1.5em;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}

.box {
  position: relative;
  background-size: cover;
  background: url("../images/menu/bgBox.jpg") center, center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 50px 0;
  border-radius: 0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
  padding: 120px 0 110px;
}

@media screen and (max-width: 320px) {
  .box {
    width: 100%;
  }
}

.box:nth-of-type(2) {
  background-size: cover;
  background: url("../images/menu/bgBoxTwo.jpg") center, center;
}

.box:nth-of-type(3) {
  background-size: cover;
  background: url("../images/menu/bgBoxThree.jpg ") no-repeat center, center;
}

.box:nth-of-type(4) {
  background-size: cover;
  background: url("../images/menu/bgboxFive.jpg") center, center;
}

.box:nth-of-type(5) {
  background-size: cover;
  background: url("../images/menu/bgBoxSix.jpg") center, center;
}

.box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box__content {
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.counts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.counts__element {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  text-align: center;
  margin: 20px 0;
}

.box .counts__element .counts__circle {
  width: 109px;
  height: 109px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto 40px;
  position: relative;
}

.box .counts__element .counts__circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.counts__circle img {
  width: 45px;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.title__box {
  color: white;
  font-size: 2em;
  line-height: 1.2em;
  padding: 30px 0 25px 0;
  text-align: center;
}

.counts__element p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  padding: 10px 30px 0 30px;
}

@media screen and (max-width: 320px) {
  .counts__element p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .box .counts__element {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 980px) {
  .box {
    padding: 50px 0;
  }
}

@media (max-width: 980px) {
  .title__box {
    padding-bottom: 30px;
  }
}

@media (max-width: 930px) {
  .box .counts__element {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
}

@media (max-width: 930px) {
  .counts__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.box__btn {
  position: relative;
  display: block;
  z-index: 1;
  margin: 0 auto;
  padding: 13px 20px 13px;
  border: 1px solid #ffffff4d;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.box__btn:after {
  content: "";
  background-color: #a8385a75;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: -20px;
  left: 20px;
  transition: 0.2s;
}

.box__btn:hover:after {
  top: 0;
  left: 0;
  background-color: #a83859;
}

@media (min-width: 768px) {
  .box__btn {
    padding: 13px 50px 13px;
  }
}

.box__btn--bgcolor--pink::after {
  background-color: #c8a6b580;
}

.box__btn--bgcolor--pink:hover:after {
  background-color: #c8a6b5;
}

.box__btn--bgcolor--dppink::after {
  background-color: #e4dde480;
}

.box__btn--bgcolor--dppink:hover:after {
  background-color: #e4dde4;
}

.box__btn--bgcolor--gray::after {
  background-color: #c5c9c377;
}

.box__btn--bgcolor--gray:hover:after {
  background-color: #c5c9c3;
}

.box__btn--bgcolor--violet::after {
  background-color: #240d3983;
}

.box__btn--bgcolor--violet:hover:after {
  background-color: #240d39;
}