* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  font-family: "Cormorant Garamond", serif;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(228, 221, 228, 1);
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2em;
}

li.menu-item {
  padding: 2%;
  list-style-type: none;
}

li.menu-item a {
  position: relative;
  display: block;
  padding: 0.5em;
  color: rgb(36, 13, 57, 0.7);
  font-weight: 800;
  text-decoration: none;
}

li.menu-item a:hover {
  color: rgba(36, 13, 57, 1);
  transition: 0.5s;
  transform: scale(1.2);
}

.menu a::before,
.menu a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background-color: rgb(36, 13, 57);
  transition: 0.5s ease-in-out, left 0.5s ease-in-out;
  content: "";
}

.menu a:hover::before {
  width: 50%;
  left: 0;
}
.menu a:hover::after {
  width: 50%;
}

.header-logo {
  position: relative;
  width: 13%;
  margin-left: 30px;
}

.header-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  padding: 0;
  width: 100%;
  height: 8em;
  border-radius: 5%;
  transition-duration: 1s;
}

.header-logo img:hover {
  box-shadow: 5px 5px 5px 4px rgba(59, 100, 165, 0.6);
  transform: rotate(-6deg);
}

